In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Dropout, Dense, BatchNormalization, Flatten, Conv1D
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split

In [2]:
df= pd.read_excel(r"C:\Users\PRAVEEN\Downloads\DATASET.xlsx")

C:\Users\PRAVEEN\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
C:\Users\PRAVEEN\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [3]:
df.columns

Index(['Unnamed: 0', 'year', 'Para-1', 'Para-2', 'Para-3', 'Para-4', 'Para-5',
       'Para-6', 'Para-7', 'Para-8', 'Para-9', 'Para-10', 'Para-11', 'Para-12',
       'Para-13', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36'],
      dtype='object')

In [4]:
df=df.drop(['Unnamed: 0'], axis=1)

In [5]:
df.head(20)

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,324.0,225.0,17.2,0.0,4,114,6630,1500,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,324.0,130.0,18.4,0.0,3,103,6700,1540,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,324.0,100.6,19.0,0.0,2,114,6740,1590,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,324.0,176.5,19.0,0.0,3,108,7175,1787,3.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,324.0,53.6,19.0,0.0,2,105,7567,1885,16.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,327.7,336.6,21.3,0.0,4,106,5810,2030,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2,327.7,240.2,22.1,0.0,3,104,5900,2200,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3,327.7,155.3,22.4,0.0,3,104,6100,2500,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4,327.7,77.0,23.0,0.0,2,105,6140,2650,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,5,327.7,146.3,22.5,0.0,2,108,6200,2800,2.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,6,327.7,216.3,21.2,0.0,4,111,6500,2550,34.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,7,327.7,77.1,22.4,0.0,4,106,19437,7674,50.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8,327.7,90.3,22.8,0.0,2,105,22755,8472,56.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,9,327.7,238.5,22.8,0.0,2,103,26640,9353,60.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,10,327.7,62.0,22.7,0.0,2,102,30525,10234,76.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
groups=[]
for i in range(0,len(df),10):
    groups.append(df[i:i+10])

In [7]:
groups[100]

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
1000,2,454.0,1366.8,12.7,152.0,19,116,2223,525,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,3,454.0,1310.5,13.3,57.9,17,114,2634,595,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002,4,454.0,1128.7,15.0,28.0,12,121,3842,730,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,5,454.0,1126.6,14.4,28.8,16,116,3842,730,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1004,6,454.0,931.8,13.6,125.0,13,116,4150,830,15.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,7,454.0,703.0,14.5,17.0,13,118,4150,830,24.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1006,8,454.0,1124.1,14.9,45.0,18,117,4200,840,119.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1007,9,454.0,1462.3,13.2,62.0,27,117,4400,720,138.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data_x=[]
data_y=[]
length= len(groups[0])-1
for i in range(len(groups)):
    data_x.append(groups[i][:length][:])
    data_y.append(groups[i][length:length+1][:])

In [9]:
for i in range(len(data_x)):
    data_x[i]= data_x[i].to_numpy()
    data_y[i]= data_y[i].to_numpy()

In [10]:
data_x= data_x[:len(data_x)-1]
data_y= data_y[:len(data_y)-1]

In [11]:
deletion_rows=[]
for i in range(len(data_x)):
    if np.isnan(np.min(data_x[i])):
        deletion_rows.append(i)
print(deletion_rows)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [12]:
for i in deletion_rows:
    data_x.pop(i)
    data_y.pop(i)

IndexError: pop index out of range

In [ ]:
print(len(data_x), len(data_y))

In [ ]:
def get_model2():
    model = Sequential()
    model.add(Conv1D(32, 2, activation="relu", input_shape=(13, 1)))
    model.add(Flatten())
    model.add(Dense(64, activation="relu"))
    model.add(Dense(1))
    model.compile(loss='mse', optimizer='Adam', metrics=['acc'])
    return model

In [13]:
data_x= np.asarray(data_x)
data_y= np.asarray(data_y, dtype='float32')

In [14]:
train_x, test_x, train_y, test_y= train_test_split(data_x, data_y, random_state=45, shuffle=True)

In [15]:
train_x= np.asarray(train_x).astype('float32')
#train_x=np.expand_dims(train_x, 1)
train_y= np.asarray(train_y).astype('float32')
#train_y=np.expand_dims(train_y, 1)

In [16]:
test_x= np.asarray(test_x).astype('float32')
#test_x=np.expand_dims(test_x, 1)
test_y= np.asarray(test_y).astype('float32')
#test_y=np.expand_dims(test_y, 1)

In [17]:
model= get_model2()
model.fit(train_x, train_y, epochs=100, batch_size=128, validation_data=(test_x, test_y))

NameError: name 'get_model2' is not defined